<div class="item">
    <img src="{{!imagem}}" alt="">
    <div class="description">
        <div class="list-group">
            <label>Título: </label>
            <p class="title">{{!titulo}}</p>
        </div>
        <div class="list-group">
            <label>Preço: </label>
            <p class="price">{{!preco}}</p>
        </div>
        <div class="list-group">
            <label>Quantidade: </label>
            <select name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="list-group">
            <label>Tamanho: </label>
            <select name="size">
                <option value="pp">PP</option>
                <option value="p">P</option>
                <option value="m">M</option>
                <option value="g">G</option>
                <option value="gg">GG</option>
            </select>
        </div>
    </div>
    <i ref="{{!ref}}" class="fa fa-times"></i>
</div>