$font: Montserrat, sans-serif;
$color: #2d2d2d;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input:focus {
    outline: 0;
    border: 0;
    box-shadow: 0;
}
body,
html {
    height: 100%;
    cursor: default;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: pink;
    display: flex;
    align-items: center;
    .products {
        display: none;
    }
    p {
        max-width: 1440px;
        margin: 0 auto;
        font-size: 18px;
        width: 100%;
        text-align: right;
        padding: 0 5%;
        color: white;
    }
}
body {
    background: rgb(247, 247, 247);
}
section {
    min-height: 100vh;
    .banner-principal {
        background: url("../assets/background-main.png") center no-repeat;
        background-size: cover;
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 400px;
        }
    }
    .catalogo {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
        .header {
            width: 100%;
            background-color: white;
            padding: 20px 0;
            h1 {
                font-family: $font;
                color: $color;
                font-weight: 400;
            }
        }
        .body {
            margin-top: 25px;
        }
        .container {
            margin-top: 20px;
            max-width: 1440px;
            width: 100%;
            padding: 16px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-row-gap: 20px;
            margin: 0 auto;
        }
        .box {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            width: 300px;
            padding: 0;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.21);
            .image {
                cursor: pointer;
                img {
                    width: 100%;
                }
                height: 100%;
            }
            .description {
                height: 100%;
                text-align: center;
                .title {
                    font-family: $font;
                    color: black;
                    font-size: 18px;
                    border-bottom: 1px solid #ccc;
                    width: 80%;
                    margin: 0 auto;
                    padding: 5px 0;
                }
                .price {
                    padding: 5px 0;
                    color: #aa508a;
                    font-size: 24px;
                }
                button {
                    padding: 8px;
                    border: 0;
                    outline: 0;
                    background-color: transparent;
                    font: $font;
                    color: #414141;
                    cursor: pointer;
                }
            }
        }
    }
}
footer {
    width: 100%;
    background-color: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: $font;
    font-size: 12px;
    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    padding: 16px;
}
.icon {
    position: fixed;
    right: 20px;
    img {
        width: 60px;
    }
}
.wpp {
    bottom: 20px;
}
.instagram {
    bottom: 90px;
}
.focus {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
    display: none;
    .box-focus {
        z-index: 2;
        display: flex;
        max-width: 500px;
        .image {
            padding: 0 2%;
            img {
                width: 100%;
            }
        }
    }
    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
}
.alert-box {
    display: none;
    position: fixed;
    z-index: 1;
    transform: translateX(-50%);
    left: 50%;
    top: 20%;
    width: 100%;
    max-width: 350px;
    .alert {
        padding: 8px 16px;
        font-size: 18px;
        font: $font;
    }
    .sucess {
        color: white;
        background-color: pink;
    }
    .erro {
        color: #721c24;
        background-color: #f8d7da;
    }
}
.main {
    display: none;
}
.finish {
    padding-top: 50px;
    font-family: $font;
    text-align: center;
    .container {
        max-width: 1080px;
        margin: 0 auto;
        padding: 0 2%;
        display: flex;
        .cart {
            margin-bottom: 20px;
            background-color: rgb(130, 90, 240);
            padding-top: 20px;
            color: white;
            h1{
                margin-bottom: 20px;
            }
            .item {
                display: flex;
                background-color: rgb(163, 135, 241);
                justify-content: space-around;
                align-items: center;
                color: white;
                margin-bottom: 20px;
                .description {
                    width: 100%;
                }
                img {
                    width: 140px;
                }
                .list-group {
                    display: flex;
                    justify-content: space-around;
                    margin: 0 0 5px 10px;
                    label {
                        margin-right: 20px;
                    }
                }
            }
            i {
                padding: 2%;
            }
        }
    }
}
.profile {
    background-color: pink;
    padding: 20px;
    max-height: 250px;
    h1{
        color: white;
        margin-bottom: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
        input {
            padding: 8px 16px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
        }
    }
}
.w50 {
    width: 49%;
    margin: 0 auto;
}
.btn {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    button {
        padding: 8px 16px;
        border: 0;
        outline: 0;
        background-color:#c72c91;
        font-size: 19px;
        color: white;
    }
}
/* MEDIA QUERY */
@media screen and (max-width: 1280px) {
    section .catalogo {
        .container {
            padding: 0;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media screen and (max-width: 940px) {
    section .catalogo {
        .container {
            padding: 0;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 620px) {
    section .banner-principal {
        height: 200px;
        img {
            width: 250px;
        }
    }
    .finish .container .cart .item img {
        width: 100px;
    }
    section .catalogo {
        .container {
            padding: 0;
            grid-template-columns: 1fr;
            .box {
                width: 100%;
                .image {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    .w50 {
        width: 100%;
    }
    .finish .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    section .catalogo {
        .container {
            padding: 0;
            grid-template-columns: 1fr;
        }
    }
}
