* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("../assets/background.jpg");
}

nav {
  width: 100%;
  background-color: #ccc;
}

nav .center {
  max-width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .center .logomarca img {
  max-width: 250px;
}

nav .center .search-box {
  width: 380px;
  padding: 2px;
}

nav .center .search-box .input {
  border-radius: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .center .search-box .input i {
  background-color: white;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

nav .center .search-box .input input {
  width: 100%;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 8px 16px;
  font-size: 18px;
}

nav .center .search-box .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 40px;
  margin-bottom: 5px;
}

nav .center .search-box .btns a {
  text-decoration: none;
  color: #414141;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 700;
}

nav .center .user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .center .user-profile .info {
  border-right: 1px solid #909090;
  padding-right: 5px;
  text-align: right;
  font-family: Montserrat, sans-serif;
}

nav .center .user-profile .info p {
  font-size: 19px;
}

nav .center .user-profile .info span {
  font-size: 15px;
  color: #909090;
}

nav .center .user-profile i {
  font-size: 26px;
  margin-left: 5px;
  height: 100%;
  color: #4e4e4e;
}

section {
  margin-bottom: 20px;
  height: 100%;
  min-height: calc(100vh - 146px - 51px);
}

section .center {
  height: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section aside {
  width: 250px;
  background-color: #a9a9a9;
  font-family: Montserrat, sans-serif;
}

section aside .categoria .header {
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  background-color: #c4c4c4;
}

section aside .categoria .body {
  padding: 8px;
  font-size: 15px;
  font-weight: normal;
  background-color: #dcdcdc;
}

section main {
  width: 100%;
}

main .box-grid {
  min-height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  padding: 16px;
  border: 1px solid #ccc;
  background-color: #e2e2e2;
}

main .box-grid .box {
  border: 1px solid #ccc;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .box-grid .box .image {
  height: 100%;
}

main .box-grid .box .image img {
  width: 150px;
  height: 100px;
}

main .box-grid .box .body {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .box-grid .box .body p {
  font-size: 18px;
  font-weight: bold;
}

main .box-grid .box .body span {
  font-size: 15px;
  font-weight: normal;
}

.slide-container {
  width: 100%;
  font-family: Montserrat, sans-serif;
}

.slide-container .container {
  background-color: #414141;
  max-width: 1080px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 10px 0;
  height: 155px;
}

.slide-container .container .btn {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  height: 100%;
}

.slide-container .container .btn .btn-nav {
  padding: 0 8px;
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-container .container .btn #previous {
  float: left;
}

.slide-container .container .btn #next {
  float: right;
}

.slide-container .container .btn img {
  width: 20px;
}

.slide-container .container .btn:hover button {
  visibility: visible;
}

.slide-container .container .slide {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  left: 20px;
  overflow: hidden;
}

.slide-container .container .slide .box {
  height: 250px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  width: 180px;
  height: 135px;
  cursor: pointer;
}

.slide-container .container .slide .box .image img {
  width: 180px;
}

.slide-container .container .slide .box:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

footer {
  width: 100%;
  background-color: #414141;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: Montserrat, sans-serif;
  padding: 16px;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

input:focus {
  outline: 0;
  border: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

.root {
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */