* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:focus {
  outline: 0;
  border: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

body,
html {
  height: 100%;
}

body {
  background: #e7d6d7;
}

header {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e0b7d7;
  padding: 0 2%;
  display: none;
}

section {
  min-height: 100vh;
}

section .banner-principal {
  background: url("../assets/background-main.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .banner-principal img {
  width: 400px;
}

section .catalogo {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

section .catalogo .header {
  width: 100%;
  background-color: white;
  padding: 20px 0;
}

section .catalogo .header h1 {
  font-family: Montserrat, sans-serif;
  color: #2d2d2d;
}

section .catalogo .body {
  margin-top: 25px;
}

section .catalogo .container {
  margin-top: 20px;
  max-width: 1440px;
  width: 100%;
  padding: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  margin: 0 auto;
}

section .catalogo .box {
  border: 1px solid #ccc;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 150px;
}

section .catalogo .box .image img {
  width: 100%;
}

section .catalogo .box .description {
  text-align: center;
}

nav {
  width: 100%;
}

nav .center {
  max-width: 1080px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .center .logomarca img {
  max-width: 250px;
}

nav .center .search-box {
  width: 380px;
  padding: 2px;
}

nav .center .search-box .input {
  border-radius: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .center .search-box .input i {
  color: #676767;
  background-color: white;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

nav .center .search-box .input input {
  font-size: 15px;
  width: 100%;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 8px 16px;
}

nav .center .search-box .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 40px;
  margin-bottom: 5px;
}

nav .center .search-box .btns a {
  text-decoration: none;
  color: #414141;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 700;
}

nav .center .user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
}

nav .center .user-profile .info {
  border-right: 1px solid #2d2d2d;
  padding-right: 5px;
  text-align: right;
  font-family: Montserrat, sans-serif;
}

nav .center .user-profile .info span {
  font-size: 15px;
  color: #2d2d2d;
}

nav .center .user-profile i {
  font-size: 26px;
  margin-left: 5px;
  height: 100%;
  color: #2d2d2d;
}

nav .center .mobile {
  display: none;
  margin-right: 20px;
}

nav .center .mobile i {
  font-size: 25px;
}

footer {
  width: 100%;
  background-color: #414141;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: Montserrat, sans-serif;
  padding: 16px;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.icon {
  position: fixed;
  right: 20px;
}

.icon img {
  width: 60px;
}

.wpp {
  bottom: 20px;
}

.instagram {
  bottom: 90px;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  nav .center .search-box {
    display: none;
  }
  nav .center .user-profile .info {
    display: none;
  }
  nav .center .mobile {
    display: block;
  }
  section .banner-principal {
    height: 200px;
  }
  section .banner-principal img {
    width: 250px;
  }
  section .catalogo .container {
    padding: 0;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}
/*# sourceMappingURL=style.css.map */