$font: Montserrat, sans-serif;
$color: #2d2d2d;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input:focus {
    outline: 0;
    border: 0;
    box-shadow: 0;
}
body,
html {
    height: 100%;
    cursor: default;
}
body {
    background: rgb(247, 247, 247);
}
section {
    min-height: 100vh;
    .banner-principal {
        background: url("../assets/background-main.png") center no-repeat;
        background-size: cover;
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 400px;
        }
    }
    .catalogo {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
        .header {
            width: 100%;
            background-color: white;
            padding: 20px 0;
            h1 {
                font-family: $font;
                color: $color;
                font-weight: 400;
            }
        }
        .body{
            margin-top: 25px;
        }

        .container {
            margin-top: 20px;
            max-width: 1440px;
            width: 100%;
            padding: 16px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-row-gap: 20px;
            margin: 0 auto;
        }
        .box {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            width: 150px;
            border: 1px solid #ccc;
            padding: 0;
            cursor: pointer;
            .image {
                img {
                    width: 100%;
                }
                height: 100%;
            }
            .description {
                height: 100%;
                text-align: center;
                .title{
                    font-family: $font;
                    color: black;
                    font-size: 18px;
                }
                .price{
                    color: #aa508a;
                    font-size: 24px;
                }
            }
        }
    }
}
footer {
    width: 100%;
    background-color: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: $font;
    font-size: 12px;
    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    padding: 16px;
}
.icon {
    position: fixed;
    right: 20px;
    img{
        width: 60px;
    }
}
.wpp {
    bottom: 20px;
}
.instagram {
    bottom: 90px;
}

.focus{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
    display: none;
    .box-focus{
        z-index: 2;
        display: flex;
        max-width: 500px;
        .image{
            padding: 0 2%;
            img{
                width: 100%;
            }
        }
    }
    .overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
}

/* MEDIA QUERY */
@media screen and (max-width: 1024px) {


    section .catalogo {
        .container {
            padding: 0;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}


@media screen and (max-width: 768px) {
    nav .center {
        .search-box {
            display: none;
        }
        .user-profile .info {
            display: none;
        }
        .mobile {
            display: block;
        }
    }

    section .banner-principal {
        height: 200px;
        img {
            width: 250px;
        }
    }

    section .catalogo {
        .container {
            padding: 0;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 400px) {


    section .catalogo {
        .container {
            padding: 0;
            grid-template-columns: 1fr;
        }
    }
}

