* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:focus {
  outline: 0;
  border: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

body,
html {
  height: 100%;
}

body {
  background: #f7f7f7;
}

section {
  min-height: 100vh;
}

section .banner-principal {
  background: url("../assets/background-main.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .banner-principal img {
  width: 400px;
}

section .catalogo {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

section .catalogo .header {
  width: 100%;
  background-color: white;
  padding: 20px 0;
}

section .catalogo .header h1 {
  font-family: Montserrat, sans-serif;
  color: #2d2d2d;
  font-weight: 400;
}

section .catalogo .body {
  margin-top: 25px;
}

section .catalogo .container {
  margin-top: 20px;
  max-width: 1440px;
  width: 100%;
  padding: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  margin: 0 auto;
}

section .catalogo .box {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
  border: 1px solid #ccc;
  padding: 0;
}

section .catalogo .box .image {
  height: 100%;
}

section .catalogo .box .image img {
  width: 100%;
}

section .catalogo .box .description {
  height: 100%;
  text-align: center;
}

section .catalogo .box .description .title {
  font-family: Montserrat, sans-serif;
  color: black;
  font-size: 18px;
}

section .catalogo .box .description .price {
  color: #aa508a;
  font-size: 24px;
}

footer {
  width: 100%;
  background-color: #414141;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  padding: 16px;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.icon {
  position: fixed;
  right: 20px;
}

.icon img {
  width: 60px;
}

.wpp {
  bottom: 20px;
}

.instagram {
  bottom: 90px;
}

.focus {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2%;
  display: none;
}

.focus .box-focus {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
}

.focus .box-focus .image {
  padding: 0 2%;
}

.focus .box-focus .image img {
  width: 100%;
}

.focus .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

/* MEDIA QUERY */
@media screen and (max-width: 1024px) {
  section .catalogo .container {
    padding: 0;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  nav .center .search-box {
    display: none;
  }
  nav .center .user-profile .info {
    display: none;
  }
  nav .center .mobile {
    display: block;
  }
  section .banner-principal {
    height: 200px;
  }
  section .banner-principal img {
    width: 250px;
  }
  section .catalogo .container {
    padding: 0;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  section .catalogo .container {
    padding: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */